Repository outfitter-dev/blz, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, rust, cli, core, mcp, ci, dependencies, tests

.github/labeler.yml:

# Configuration for auto-labeler action

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**
      - "*.md"
      - .agent/**/*.md

rust:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rs"
      - Cargo.toml
      - Cargo.lock

cli:
  - changed-files:
    - any-glob-to-any-file:
      - crates/blz-cli/**

core:
  - changed-files:
    - any-glob-to-any-file:
      - crates/blz-core/**

mcp:
  - changed-files:
    - any-glob-to-any-file:
      - crates/blz-mcp/**

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/actions/**

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - Cargo.lock
      - "**/Cargo.toml"

tests:
  - changed-files:
    - any-glob-to-any-file:
      - "**/tests/**"
      - "**/*_test.rs"
      - "**/benches/**"

feat: add GitHub labels configuration
  .github/labels.yml
  .github/workflows/sync-labels.yml
Labels: ci

fix: address PR #44 review comments
  crates/blz-core/src/config.rs
Labels: rust, core

fix(#32): unify storage and config paths to ~/.outfitter/blz with migration
  crates/blz-core/src/config.rs
  crates/blz-core/src/fetcher.rs
  crates/blz-core/src/storage.rs
  docs/cli.md
Labels: documentation, rust, core

fix: address CodeRabbit review comments on PR #44
  crates/blz-core/src/fetcher.rs
  crates/blz-core/src/storage.rs
Labels: rust, core

Update storage.rs
  crates/blz-core/src/storage.rs
Labels: rust, core

fix: address PR #46 review comments
  CHANGELOG.md
  README.md
  docs/cli.md
Labels: documentation

docs: add checkpoint for agent directory reorganization
  .agents/logs/202508280918-checkpoint-agent-directory-reorganization.md
Labels: none

chore: update references for reorganized .agents directory
  .github/workflows/README.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  crates/CLAUDE.md
  docs/AGENTS.md
  docs/CLAUDE.md
  scripts/README.md
Labels: documentation, ci

feat: improve lefthook configuration for draft PR workflows
  lefthook.yml
  scripts/push-draft.sh
Labels: none

chore: move misplaced pr-review-fixes.md to archive with proper naming
  .agents/logs/.archive/202508230000-review-pr-fixes-plan.md
Labels: none

docs: add handoff document for PR review fixes session
  .agents/logs/20250827-pr-review-fixes.md
Labels: none

docs(#37): Update documentation for v0.1 release
  CHANGELOG.md
  README.md
  docs/cli.md
Labels: documentation

fix: address PR #46 review comments on storage paths and CLI flags
  CHANGELOG.md
  README.md
  docs/cli.md
  docs/getting-started.md
  docs/search.md
  docs/shell-integration.md
  docs/sources.md
Labels: documentation

test(#42): add tests for search pagination edge cases
  crates/blz-cli/Cargo.toml
  crates/blz-cli/tests/search_pagination.rs
Labels: rust, cli, dependencies, tests

feat(#12): add Changesets with Bun for automated releases
  .changeset/config.json
  .changeset/initial-release.md
  .github/workflows/npm-publish.yml
  .github/workflows/release.yml
  .gitignore
  package.json
Labels: ci

feat(#5): improve Zsh shell support and documentation
  docs/shell-integration.md
  docs/zsh-setup.md
Labels: documentation

cleanup(#24): remove unused code warnings in output module
  crates/blz-cli/src/output/formatter.rs
  crates/blz-cli/src/output/progress.rs
Labels: rust, cli

chore: update .gitignore for node/bun and agent logs
  .gitignore
Labels: none

feat(#5): improve Zsh shell support and documentation
  docs/shell-integration.md
  docs/zsh-setup.md
Labels: documentation

refactor: feature-gate unused types behind progress-ui flag
  crates/blz-cli/Cargo.toml
  crates/blz-cli/src/output/formatter.rs
  crates/blz-cli/src/output/progress.rs
  crates/blz-core/src/fetcher.rs
  crates/blz-core/src/index.rs
  crates/blz-core/src/integration_example.rs
Labels: rust, cli, core, dependencies

fix(#47): Remove all backwards compatibility code
  .gitignore
  crates/blz-core/Cargo.toml
  crates/blz-core/benches/performance_optimizations.rs
  crates/blz-core/benches/registry_search_performance.rs
  crates/blz-core/src/config.rs
  crates/blz-core/src/error.rs
  crates/blz-core/src/parser.rs
  crates/blz-core/src/storage.rs
Labels: rust, core, dependencies, tests

chore(branchwork): update with PR #64 info and add branch-workflow-guide.md
  .agents/docs/branch-workflow-guide.md
  .agents/logs/branchwork/CURRENT-08-29-chore-agents-get-date-sh-defaults-to-local-add-utc-flag.md
Labels: none

test: add comprehensive regression tests for pagination divide-by-zero fix
  crates/blz-cli/src/commands/search.rs
  crates/blz-cli/tests/search_pagination.rs
Labels: rust, cli, tests

test(#42): add tests for search pagination edge cases
  crates/blz-cli/Cargo.toml
  crates/blz-cli/tests/search_pagination.rs
Labels: rust, cli, dependencies, tests

ci: integrate Graphite CI optimization into workflows
  .agents/logs/2025082813-changes.md
  .github/workflows/claude-code-review.yml
  .github/workflows/dependencies.yml
Labels: ci

docs: add comprehensive development documentation
  CONTRIBUTING.md
  Cargo.toml
  clippy.toml
  docs/development/README.md
  docs/development/ci-cd.md
  docs/development/contributing.md
  docs/development/workflow.md
  rustfmt.toml
Labels: documentation, rust, dependencies

chore: reorganize .agent to .agents with clearer structure
  .agents/README.md
  .agents/logs/.archive/202501231200-migration-rules-adaptation.md
  .agents/logs/202508281731-review-pr-fixes-completed.md
  .agents/logs/202508281731-review-pr-fixes.md
  .agents/logs/202508281731-review-rules-audit.md
  .agents/logs/AGENTS.md
  .agents/rules/DEVELOPMENT.md
  .github/workflows/README.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/dependencies.yml
  CONTRIBUTING.md
Labels: documentation, ci

feat(#5): improve Zsh shell support and documentation
  docs/shell-integration.md
  docs/zsh-setup.md
Labels: documentation

feat(#23): add quiet/silent mode to suppress INFO log messages
  crates/blz-cli/src/cli.rs
  crates/blz-cli/src/main.rs
Labels: rust, cli

docs(branchwork): include CURRENT worklog for this branch
  .agents/logs/branchwork/CURRENT-08-29-ci-add-coverage-workflow-with-cargo-llvm-cov-71.md
  .agents/logs/branchwork/CURRENT-08-29-lints-switch-workspace-to-deny-unsafe-code-allow-in-core-modules-with-safety-docs-75.md
  .github/workflows/rust-ci.yml
Labels: ci

fix: address PR #44 review comments
  crates/blz-core/src/config.rs
Labels: rust, core

chore: add v0.1 release checklist
  docs/v0.1-release-checklist.md
Labels: documentation

fix(#32): unify storage and config paths to ~/.outfitter/blz with migration
  crates/blz-core/src/config.rs
  crates/blz-core/src/fetcher.rs
  crates/blz-core/src/storage.rs
  docs/cli.md
Labels: documentation, rust, core

Update storage.rs
  crates/blz-core/src/storage.rs
Labels: rust, core

fix: address CodeRabbit review comments on PR #44
  crates/blz-core/src/fetcher.rs
  crates/blz-core/src/storage.rs
Labels: rust, core

feat: improve lefthook configuration for draft PR workflows
  lefthook.yml
  scripts/push-draft.sh
Labels: none

chore: reorganize .agent directory structure for clarity
  .agents/README.md
  .agents/docs/20250825-blz-release-stack-plan.md
  .agents/logs/202508240848-review-pr-fixes.md
  .agents/logs/202508250000-refactor-rules-audit.md
  .agents/logs/202508250000-review-pr-fixes-completed.md
  .agents/logs/AGENTS.md
  .agents/pr-review-fixes.md
Labels: none

chore: update references for reorganized .agents directory
  CONTRIBUTING.md
  github-issue-rust-agent-reliability.md
Labels: documentation

docs: add checkpoint for agent directory reorganization
  .agents/logs/202508280918-checkpoint-agent-directory-reorganization.md
Labels: none

fix: address PR #46 review comments
  CHANGELOG.md
  README.md
  docs/cli.md
Labels: documentation
